html {
	height: 100%;
}

body {
	position: relative;
	overflow-x: hidden;
	height: 100%;
}

section {
	margin: 0 5% 0 5%;
}

.home {
	height: 100%;
	min-height: 100%;
	margin: 0 0 5% 0;
}

.home .home-background {
	position: relative;
	top: 0;
	left: 0;
	background: url("images/kananaskis.jpg") center center no-repeat fixed;
	width: 100%;
	height: 100%;
}

.home .home-background .spacer {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.home .home-background .spacer .content {
	position: relative;
	top: 50%;
	padding: 0 25px;
	text-align: center;
	color: white;
	transform: translateY(-50%);
}

.home .home-background .spacer .content .title span,
.home .home-background .spacer .content .subtitle span {
	white-space: nowrap;
}

.home .home-background .spacer .content .subtitle a {
	color: inherit;
}

.home .home-background .spacer .content .title {
	font-size: 4em;
	margin: 0;
}

.home .home-background .spacer .content .subtitle {
	font-size: 1.5em;
	color: #CCC
}

.home .home-background .continue-arrow {
	position: absolute;
	width: 100%;
	bottom: 2%;
	color: #999;
	top: auto;
	text-align: center;
	font-size: 1.5em;
}

.home .home-background .continue-arrow a {
	color: inherit;
	text-decoration: none;
}

.home .home-background .continue-arrow a .down-arrow {
	margin-top: 0.2em;
}

.home .home-background .continue-arrow span {
	display: block;
}
.home .home-background .continue-arrow a:hover span.link {
	text-decoration: underline;
}

.panel-primary .panel-heading {
	border-bottom: 1px solid #999999;
}

.panel-primary .panel-body {
	background-color: #222222;
	color: #888888;
}

.panel-title {
	font-weight: bolder;
	font-size: 2em;
}

.inline {
	display: inline-block;
}

.info .panel-body {
	display: flex;
}

.photo-frame {
	margin: 10px;
	width: 15em;
}

.photo-frame img {
	width: inherit;
}

.facts {
	list-style-type: none;
	padding: 0 2em 0 0;
	margin: 0em;
	white-space: nowrap;
}

.facts .fact h4 {
	border-bottom: 1px solid #888888
}

.facts .fact a {
	color:inherit;
}

.email {
	unicode-bidi:bidi-override;
	direction: rtl;
}

.quick-facts {
	margin: 0 1em 3em;
}

.quick-facts .quick-facts-heading {
	border-bottom: 1px solid #999999;
	font-weight: bolder;
	font-size: 2em;
}
.quick-facts .quick-facts-title {
	font-weight: bolder;
	font-size: 1.2em;
	color: white;
}

.quick-facts .quick-facts-body {
	background-color: #222222;
	color: #888888;
	padding: 10px 0;
}

.quick-facts .blurb {
	background-color: #CCC;
	padding: 0em 2em 1em;
	color: #222;
}

.info .media {
	margin-top: 0px;
}

.quick-facts {
	background-color: #222;
	padding: 0 20px 10px 20px;
}

.quick-facts .blurb h4 {
	font-weight: bolder;
}

.family img {
	width: 49.5%;
}

.resume img {
	width: 20%;
}

.flex {
	display: flex;
}

.sidebar-wrapper {
	height: 100%;
}

.ualberta .classes {
	background-color: #222;
	color: white; 
}

.ualberta .classes .title {
	font-weight: bolder;
	font-size: 1.2em;
	border-bottom: 1px solid #CCC; 
}

.ualberta .classes .row {
	padding: .5em 0;
}

.ualberta .classes .body .row {
    border-bottom: 1px solid #444;
}

.ualberta .classes .row .element {
	
}